# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pp
*.pri
DoozyEngine/obj/Debug/DoozyEngine.dll
DoozyEngine/bin/Debug/Tao.Sdl.dll
DoozyEngine/bin/Debug/OpenTK.dll
DoozyEngine/bin/Debug/MonoGame.Framework.dll
DoozyEngine/bin/Debug/Lidgren.Network.dll
DoozyEngine/bin/Debug/DoozyEngine.dll
TestDoozy/bin/Windows/Debug/Content/background_space.xnb
TestDoozy/bin/Windows/Debug/Content/graphic_config.json
TestDoozy/bin/Windows/Debug/Content/module.json
TestDoozy/bin/Windows/Debug/Content/spaceship1.xnb
TestDoozy/bin/Windows/Debug/Content/spaceship_normal.xnb
TestDoozy/bin/Windows/Debug/DoozyEngine.dll
TestDoozy/bin/Windows/Debug/DoozyEngine.pdb
TestDoozy/bin/Windows/Debug/Lidgren.Network.dll
TestDoozy/bin/Windows/Debug/MonoGame.Framework.dll
TestDoozy/bin/Windows/Debug/OpenTK.dll
TestDoozy/bin/Windows/Debug/Tao.Sdl.dll
TestDoozy/bin/Windows/Debug/TestDoozy.exe
TestDoozy/bin/Windows/Debug/TestDoozy.pdb
TestDoozy/bin/Windows/Debug/TestDoozy.vshost.exe
TestDoozy/bin/Windows/Debug/TestDoozy.vshost.exe.manifest
TestDoozy/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestDoozy/obj/x86/Debug/TestDoozy.csproj.FileListAbsolute.txt
TestDoozy/obj/x86/Debug/TestDoozy.csprojResolveAssemblyReference.cache
TestDoozy/obj/x86/Debug/TestDoozy.exe
TestDoozy/obj/x86/Debug/TestDoozy.pdb
DoozyEngine/bin/Debug/fr-FR/Microsoft.Xna.Framework.resources.dll
DoozyEngine/bin/Debug/Microsoft.Xna.Framework.dll
DoozyEngine/bin/Debug/Microsoft.Xna.Framework.xml
DoozyEngine/bin/Debug/SocksAdventureLibrary.dll
TestDoozy/bin/Windows/Debug/Content/blast.xnb
TestDoozy/obj/x86/Debug/build.force
TestDoozy/Ressources/bin/blast.xnb
TestDoozy/Ressources/obj/.mgcontent
TestDoozy/Ressources/obj/blast.mgcontent
TestDoozy/Ressources/obj/.mgcontent
TestDoozy/Ressources/obj/.mgcontent
